# custom
notes
apps/platform/scripts/settle-cheque/*.json
.claude/worktrees/

# dependencies
node_modules

# testing
coverage
.vitest-attachments
__screenshots__
codecov-report.json

# build
build
dist
*.tsbuildinfo

# sanity
.sanity

# env
.env
.env.local
.env.test
.env.test.local
.env.staging
.env.production
.env.production.local
.env.staging

# framework
.vercel
.react-router

# turborepo
.turbo

# others
.DS_Store
/.vscode
mprocs.log

apps/platform/.server/pg/seed
apps/platform/jobs
